a {
    text-decoration: none;
    color: #4c5866;
}


.container {
    max-width: 1440px;
    margin: 0 auto;
}

.menu {
    display: flex;
    outline: 1px solid red;
    justify-content: space-between;
    align-items: center;
    /*padding-top: 29px;*/
    height: 80px;
    padding-left: 165px;
    padding-right: 165px;
    box-sizing: border-box;
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    color: #4c5866;
}


.menu__items {
    display: flex;
    gap: 60px;
}

.menu__items__main {
    outline: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.menu__items__second {
    outline: 1px solid red;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.footer {
    background-color: brown;
}

.simple-paper {
    display: flex;
    justify-content: space-between;
}

.simple-paper__text {
    display: flex;
    flex-direction: column;
    max-width: 445px;
    height: 322px;
    outline: 1px solid red;
    box-sizing: border-box;
    margin-left: 165px;
    margin-top: 130px;
}

.simple-paper__text__p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    width: 445px;
    /*height: 110px;*/
    color: #85859b;
    margin-bottom: 30px;
}

.simple-paper__heading {
    font-family: Roboto;
    font-weight: 400;
    font-size: 60px;
    color: #4c5866;
    margin-bottom: 30px;
    width: 445px;
    height: 120px;
    box-sizing: border-box;
}

.buton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    color: #7875fe;
    border: 1px solid #7875fe;
    padding: 20px 50px;
    width: 255px;
    height: 70px;
    box-sizing: border-box;
}

.paper {
    margin-top: 60px;
}


.bleaching-process {
    background-color: #DCDCDC;
    outline: 1px solid red;
    display: flex;
    justify-content: center;
}

.bleaching-process__content {
    outline: 1px solid red;
    width: 1110px;
}

.bleaching-process__content__card {
    /*outline: 1px solid black;*/
    display: flex;
    max-width: 350px;
    justify-content: space-between;
    border-top: 2px solid black;
    gap: 30px;
}

.card-text {
    display: flex;
    flex-direction: column;
    outline: 1px solid red;
    width: 160px;
    height: 81px;
    margin-top: 37px;
    box-sizing: border-box;
}

.card-text__main {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #85859b;
}

.card-text__heading {
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #666;
}

.card-img {
    margin-top: 19px;
}

.card-items {
    display: flex;
    gap: 30px;
    outline: 1px solid salmon;
    justify-content: center;
    margin-bottom: 90px;
    box-sizing: border-box;
}

.bleaching-process__main {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 90px;
}


.bleaching-process__main-text {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    outline: 1px solid red;
    align-self: flex-start;
}

.bleaching-process__heading {
    font-family: Roboto;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    color: #666;
    width: 350px;
    height: 74px;
    box-sizing: border-box;
    outline: 1px solid black;
    margin-bottom: 20px;
    margin-top: 59px;
}


.bleaching-process__main-paragraph {
    outline: 1px solid green;
    width: 350px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: #85859b;
    box-sizing: border-box;
}

/*------------------Блок Каталог изделий-----------------*/

.catalog {
    width: 1440px;
    outline: 2px solid black;
    padding-top: 90px;

}

.catalog-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 90px;
    box-sizing: border-box;
}


.catalog-card {
    width: 255px;
    height: 465px;
    outline: 2px solid red;
}

.catalog-card_heading {
    font-family: Roboto;
    font-weight: 400;
    font-size: 30px;
    color: #666;
    margin-bottom: 10px;
}

.circulation {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    color: #b5b5bd;
    margin-bottom: 10px;
}

.catalog-card_content {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: #85859b;
    margin-bottom: 22px;
}

.catalog-card_link {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    color: #7875fe;

}

.catalog-card_link::after{
    content: "\2192";
    margin-left: 5px;
}


.catalog-card_img {
    margin-bottom: 22px;
}